.login__screen {
  z-index: 20;
  display: flex;
  height: calc(100% - 11vh);
  padding-top: 1.25rem
    /* 20px */
  ;
  justify-content: center;
}

.login__screen .login__form {
  z-index: 20;
  border-width: 2px;
  border-color: #c7f609;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem
    /* 16px */
  ;
  padding-right: 1rem
    /* 16px */
  ;
  padding-top: 3rem
    /* 48px */
  ;
  padding-bottom: 3rem
    /* 48px */
  ;
  align-items: center;
  gap: 1.25rem
    /* 20px */
  ;
  width: 35%;
  height: 88%;
}

.form__headings {
  display: flex;
  flex-direction: column;
  gap: 0.525rem
    /* 10px */
  ;
}

.form__headings h1 {
  font-size: 1.875rem
    /* 30px */
  ;
  line-height: 2.25rem
    /* 36px */
  ;
  font-weight: 600;
  text-align: center;
}

.form__headings span {
  display: inline-block;
  width: 18rem
    /* 288px */
  ;
  font-weight: 500;
  text-align: center;
  line-height: 1.25;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 1rem
    /* 20px */
  ;
  width: 100%;
  align-items: center;
}

.form__fields .email,
.form__fields .password {
  width: 80%;
  padding-top: 1.25rem
    /* 20px */
  ;
  padding-bottom: 1.25rem
    /* 20px */
  ;
  border-radius: 1rem
    /* 16px */
  ;
  padding-left: 1.25rem
    /* 20px */
  ;
  padding-right: 1.25rem
    /* 20px */
  ;
  outline: 1px solid transparent;
  outline-offset: 2px;
  border-width: 1px;
  background-color: transparent;
}

.form__fields .email:focus,
.form__fields .password:focus {
  outline-color: rgba(204, 204, 204, 0.6);
  outline-offset: 0;
}

.form__fields div:nth-child(2) {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fields div:nth-child(2) button:nth-child(2) {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  right: 15%;
  height: 2rem
    /* 32px */
  ;
  width: 2rem
    /* 32px */
  ;
}

.form__fields div:nth-child(2) button:nth-child(3) {
  display: inline-block;
  width: 75%;
  font-size: 12px;
  margin-top: 0.5rem
    /* 8px; */
  ;
  text-align: right;
  cursor: pointer;
  font-weight: 500;
  color: rgb(0 0 0 / 0.5);
}

.login__form .login__button {
  background-color: #c7f609;
  border-radius: 40px;
  width: 40%;
  padding-top: 0.625rem
    /* 10px */
  ;
  padding-bottom: 0.625rem
    /* 10px */
  ;
  font-size: 1.5rem
    /* 24px */
  ;
  line-height: 2rem
    /* 32px */
  ;
  font-weight: 700;
}

.login__form .other__signins {
  display: flex;
  gap: 1.5rem;
}

.login__form .other__signins button>img {
  width: 2rem;
}

.login__form .lastspans {
  font-size: 12.5px;
  color: #15771F;
  letter-spacing: 0.025em;
}

.login__form .lastspans>span {
  font-size: 12.5px;
  color: #15771F;
  cursor: pointer;
  letter-spacing: 0.025em;
  text-decoration-line: underline;
}